<mat-toolbar class="custom-toolbar">
  <div class="nav-items">
    <button mat-icon-button class="nav-btn active">
      <mat-icon>person_raised_hand</mat-icon>
    </button>
    <button mat-icon-button class="nav-btn">

      <mat-icon>escalator_warning</mat-icon>
    </button>
    <button mat-icon-button class="nav-btn">
      <mat-icon>engineering</mat-icon>
    </button>
    <button mat-icon-button class="nav-btn">
      <mat-icon>family_restroom</mat-icon>
    </button>


  </div>
  <div class="spacer"></div>
  <button mat-icon-button class="bus-btn">
      <mat-icon>directions_bus</mat-icon>
  </button>
</mat-toolbar>