<mat-toolbar class="custom-toolbar">
  <!-- Botones centrales -->
  <div class="nav-items">
    <button
      mat-icon-button
      class="nav-btn"
      [class.active]="isActive(item.route)"
      *ngFor="let item of navItems"
      (click)="navigate(item.route)">
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>
  </div>

  <!-- Botón del bus a la derecha -->
  <button 
    mat-icon-button 
    class="bus-btn" 
    (click)="navigate('/admin/buses')">
    <mat-icon>directions_bus</mat-icon>
  </button>

</mat-toolbar>
