mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4BB14B;
}

.toolbar-start, .toolbar-end {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1;
}

button {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

mat-icon {
    color: black;
}