main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 30px;
    background-color: #048c04;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 35px;
    cursor: pointer;
    border: none;
}

label {
    margin-top: 30px;
    font-size: 20px;
}

input {
    border-radius: 30px;
    width: 300px;
    height: 45px;
    background-color: #dcdcdc;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 15px;
    font-size: 20px;
}

label, 
input {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
}