:host {
  display: block;
  height: 100vh;

}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTENEDOR */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

/* HEADER */
.custom-toolbar {
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.app-title {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-left: 10px;
}

.spacer {
  flex: 1;
}

/* CONTENIDO */
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* SIDEBAR IZQUIERDO */
.sidebar {
  margin-top: 20px;
  width: 170px;
  height: 150px;
  background: #fce67c;
  padding: 20px 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);;
}


.admin-section h3 {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 60px;
}


.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;          
  padding: 8px 16px;  
  font-size: 15px;
  font-weight: 500;
  color: #000000 !important;
  text-decoration: none;
}


.menu-item mat-icon {
  font-size: 28px;     
  width: 28px;
  height: 28px;
  color: #333;
}


.menu-item:hover {
  color: #000;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.admin-section h3 {
  font-size: 15px;
  font-weight: 700;
  padding-left: 16px;   
  margin-bottom: 16px;
  color: #000;
}


/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
   position: relative;
}

.welcome {
  font-size: 28px;
  text-align: center;
}

.welcome-role {
  text-align: center;
  color: #666;
}

/* ALERTAS */
.alerts-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.alerts-container {
  width: 100%;
  max-width: 650px;
  background: #fff;
  border-radius: 20px;
  border: 10px solid #fce67c;
  padding: 20px;
}

.alerts-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* CARD */
.alert-card {
  background: rgb(255, 254, 197);;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.alert-icon {
  font-size: 24px;
}

.alert-content {
  flex: 1;
}

.alert-title {
  font-weight: bold;
}

.alert-time {
  font-size: 12px;
  color: #666;
}

.alert-info {
  font-size: 14px;
  margin-top: 5px;
}

/* BOOKMARK */
.bookmark {
  width: 20px;
  height: 30px;
  background: #333;
}

/* ========== RIGHT SIDEBAR  ========== */
.right-sidebar {
  margin-top: 10px;
  width: 100px;                    
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  gap: 28px;                     
}

/* Círculos amarillos con iconos */
.icon-circle {
  width: 52px;
  height: 52px;
  background:#fce67c;         
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-circle mat-icon {
  font-size: 26px;
  width: 26px;
  height: 26px;
  color: #333;
}

/* Efecto hover */
.icon-circle:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

